* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  min-height: 100vh;
  font-size: 3rem;
  color: whitesmoke;
  background-color: black;
}

nav {
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
  background-color: #44b78b;
}

main {
  padding: 1rem;
}

section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

h1,
h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #81dbb8;
}

a:hover {
  opacity: 0.85;
}

img {
  max-width: 100%;
  height: 400px;
}
